* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.sections {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}


@media (max-width: 1200px) {
    .sections {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}